.form-control {
    display: block;
    width: 100%;
    height: calc(3em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    /* border-radius: 2.25rem; */
}

.btn{
	font-size: 2rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: transform 450ms;
}

/* change by het */
.btn:hover{
    transform: scale(1.08);
}
.btn-primary {
    padding-bottom: 7px;
}

.text-center {
    padding-bottom: 30px;
    padding-top: 10px;
}

body {
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    width: 20vw;
    height: calc(50vh - 40px);
    background: rgba(255, 26, 104, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.chartBox {
    /* width: 700px; */
    padding: 20px;
    margin: 0px;
    border-radius: 20px;
    /* border: solid 3px rgba(255, 26, 104, 1); */
    background: white;
}

html {
    scroll-behavior: smooth;
}

.b1 {
    cursor: pointer;
    outline: none;
    border: none;
    object-fit: contain;
    font-weight: 300;
    transition: transform 450ms;
    width: 100px;
}

.b1:hover {
    transform: scale(1.09);
}

table{
    font-size:13px;
}

.d1{
    background-color: #0080ff;
    padding: 10px; 
    position: absolute;
    color: white;
    border: none;
    outline: none; 
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-group{
    padding-left: 0px;
}